<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM Sans:100,200,300,400,500,600,700,800,900" />
    <link rel="icon" href="/assets/icon.png" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>Project</title>
</head>

<style>
    .main {
        padding-top: 5rem;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    
    .inline {
        display: flex;
        flex-wrap: wrap;
    }
    
    .left {
        width: 50%;
    }
    
    .author {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1vw;
    }
    
    .name {
        color: #6067ed;
        font-size: 0.8vw;
        margin-left: 0.8vw;
        margin-top: 0.3vw;
    }
    
    .role {
        width: 100%;
        height: fit-content;
        padding: 1.5vw;
        background: #ffffff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        margin-top: 1vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-bottom: 2vw;
    }
    
    .right {
        width: 30%;
        margin-left: 10%;
    }
    
    .media {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        margin-top: 1vw;
    }
    
    .media-image {
        width: 28%;
        height: auto;
        margin-right: 3.5%;
        filter: drop-shadow(0px 1px 9px rgba(0, 0, 0, 0.25));
        border-radius: 6px;
        margin-bottom: 1vw;
    }
    
    .links p {
        margin-bottom: 0.5vw;
        width: 90%;
        word-break: break-all;
    }
</style>

<body class="bg-gray w-screen overflow-x-hidden">
    <nav class="
                cont
                w-screen
                flex
                justify-between
                items-center
                py-4
                bg-purple
            ">
        <img src="/assets/logo.svg" alt="logo" class="w-1/12" />
        <div class="
                    input
                    flex
                    w-1/3
                    bg-white
                    rounded-md
                    h-full
                    p-3
                    pl-4
                    shadow-md
                ">
            <input type="text" placeholder="Search for Projects, Commu..." class="w-full text-lg pl-2" id="search" />
            <img src="/assets/search.svg" alt="search icon" class="w-6 h-6 object-contain mr-4" />
        </div>
        <a id="nav-login-anchor" href="/auth/google">
            <button class="
                        px-10
                        py-2
                        flex
                        rounded-md
                        justify-center
                        items-center
                        text-lg
                        shadow-lg
                        bg-white
                        text-purple
                    ">
                    <img src="/assets/g.png" alt="" class="w-5">&nbsp;&nbsp;
                    Login
                </button>
        </a>
        <div class="prof flex">
            <a href="/profile"><img src="" class="w-8 h-8 rounded-full mr-4" alt="" /></a>
            <img style="cursor: pointer;" src="/assets/logout.svg" class="w-8 h-8 object-contain" alt="" />
        </div>
    </nav>
    <div class="main pb-20 inline">
        <div class="left">
            <h1 style="font-size: 1.25vw; font-weight: 600; color: #6067ed">
                <%= project.title %>
            </h1>
            <div class="author">
                <img src="<%= user.pfp_url %>" style="width: auto; height: 2vw; border-radius: 50%" />
                <p class="name">
                    <%= user.name %>
                </p>
            </div>
            <h1 style="
                        font-size: 1.25vw;
                        font-weight: 500;
                        margin-top: 1.5vw;
                    ">
                Tags
            </h1>
            <p style="font-size: 0.9vw; margin-top: 0.1vw" class="tags">
                <% for (let i = 0; i<project.tags.length; i++) { %>
                    <% if (i+1 != project.tags.length) {%>
                        <%= project.tags[i]%>,
                            <% } else { %>
                                <%= project.tags[i]%>
                                    <% } %>
                                        <% } %>
            </p>
            <h1 style="
                        font-size: 1.25vw;
                        font-weight: 500;
                        margin-top: 1.5vw;
                    ">
                Description
            </h1>
            <p style="font-size: 0.9vw; margin-top: 0.1vw" class="tags">
                <%= project.description %>
            </p>
            <h1 style="
                        font-size: 1.25vw;
                        font-weight: 500;
                        margin-top: 1.5vw;
                    ">
                Required Roles
            </h1>
            <div class="roles">
                <% for (let j = 0; j<project.roles.length; j++) { %>
                    <form method="post" action="/project/<%= project._id %>" class="role">
                        <h2 style="
                                font-size: 1.25vw;
                                font-weight: 500;
                                color: #6067ed;
                            ">
                            <%= project.roles[j].name %>
                        </h2>
                        <p style="
                                font-size: 0.9vw;
                                margin-top: 0.2vw;
                                margin-bottom: 1.5vw;
                            ">
                            <%= project.roles[j].desc %>
                        </p>
                        <input type="text" name="role" value="<%= project.roles[j].name %>">
                        <input type="text" name="desc" value="<%= project.roles[j].desc %>">
                        <button type="submit" class="
                                px-10
                                py-1.5
                                flex
                                rounded-md
                                justify-center
                                items-center
                                text-lg
                                bg-purple
                                text-white
                            ">
                            Apply
                        </button>
                    </form>
                    <% } %>
            </div>
        </div>
        <div class="right">
            <h1 style="font-size: 1.25vw; font-weight: 600">
                Project Media
            </h1>
            <div class="media">
                <% for (let k = 0; k<project.media.length; k++) { %>
                    <img src="<%= project.media[k] %>" class="media-image" />
                    <% } %>
            </div>
            <h1 style="
                        font-size: 1.25vw;
                        font-weight: 600;
                        margin-top: 1vw;
                        margin-bottom: 0.5vw;
                    ">
                Links
            </h1>
            <div class="links">
                <% for (let l = 0; l<project.links.length; l++) { %>
                    <a href="<%= project.links[l] %>" target="_blank" style="font-size: 0.9vw; color: #6067ed">
                        <p>
                            <%= project.links[l] %>
                        </p>
                    </a>
                    <% } %>
            </div>
        </div>
    </div>
</body>
<script src="/js/login.js"></script>

</html>